<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(rel="stylesheet", href="app.css" type="text/css")
    title Time to Koad
  body
    block navigation
      menu(type="toolbar")
    block body
    block footer
      aside: p Copyright(c) 2017 Koarse Koalition of Koalas (KKK)
    block scripts
      script(src="app.js")